*{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 209, 204);
}


.maincontainer{
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20vh;
}
.maincontents1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.colorboxes{
    height: 10vh;
    width: 10vh;
    display: flex;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.maincontents2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 70%;
}
.maincontents2 input{
    height: 5vh;
    padding-left:1.1rem ;
}
.maincontents2 button{
    height: 5vh;
    width: 20vh;
    background-color: gray;
    border: none;
    color: white;
    cursor: pointer;

}